@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0DDDD; /* color of the scrollbar handle */
  border-radius: 4px; /* rounded corners of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
  border-radius: 4px; /* rounded corners of the scrollbar track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #ddd; /* color of the scrollbar track on hover */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg{
background-image: linear-gradient(180deg, #550e9b 0%, #550e9b 0.01%, #0f5cec 100%);

}
